@media only screen and (max-width: 849px){
    .copy{
        display: none;
    }
}

.sign-up-form{
    height: 100%;
    display: flex;
}

.session{
 width: 58%;
 padding: 3%; 
}

.session h1{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 75px;
}

.session h2{
    font-weight: 500;
}

.session p{
    width: 70%;
}

.row-1{
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.session input {
    background-color: #fbfcfd;
    border: none;
    border-radius: 5px;
    padding: 10px; 
    height: 20px;
    border: #fbfcfd solid 3px;
}

.session input:hover {
    background-color: white;
}

.session input:focus {
   outline: #30d845 1px solid;
}



.short-input{
    width: 150px;
    padding: 0px;
  
}
.long-input{
    width: 400px;
    margin-bottom: 10px;
}

.session button{
    background-color: #30d845;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    border: none;
    margin-top: 5px;
}

.session button:hover{
    background-color: #29c13c; 
    
}

.terms-and{
    padding-top: 100px;
    padding-left: 15px;
}
.terms-and p{
    color: lightgray;
    font-size: 14px;
}

.copy{
    min-height: 800px;
    width: 43%;
    padding-top: 170px;
    background-color: #f7f9fb;
}

.copy h2{
    font-size: 16px;
    padding-left: 50px; 
    padding-bottom: 30px;
}

.copy p {
    font-weight: 400;
    line-height: 25px;
    width: 80%;
}

.row-5{
    display: flex;
}

.row-5 div{
    padding-left: 15px; 
    padding-top: 5px;
}

.log-in-option{
    color: #29c13c; 
    cursor: pointer;
}