.splash-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    height: 36px;
    padding: 1%;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: white;
    box-shadow: 0px 5px 6px -6px grey;
}

.splash-header div{
    cursor: pointer;
    font-size: 25px;
}

.log-in{
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.log-in:hover{
    color: #09ce09;
    cursor: pointer; 
}

.sign-up{
    border: none;
    border-radius: 2px;
    background-color: #c5f338;
    padding: 1%;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    margin-right: 20px; 
}

.sign-up:hover{
    cursor: pointer;
    background-color: #06a706;
}

.splash-main{
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1f55c;
    display: flex;
    border-bottom: 1px solid black;
    box-shadow:    inset  0px 2px 2px rgba(140, 136, 136, 0.69);
}

.phone-image{
    height: 500px; 
}

.splash-main-2{
    height: 505px;
}

.splash-header a {
    color: black;
    text-decoration: none;
}

.splash-header a:hover{
    color: #27af27;
}


.TradeAwayApp {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.splash-main-left{
    width: 40%;
    padding: 3%;
}

.splash-main-left p{
    font-size: 25px;
    padding: 5px;
    line-height: 35px;
    font-weight: 500; 
}

.splash-main-left h2 {
    font-size: 50px;
    font-weight: 500;
    width: 300px;
}

.splash-main-left button{
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
    padding: 1%;
    margin-top: 12px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
}

.splash-main-left button:hover{
    background-color: #000000b0; 
    cursor: pointer;
}

.splash-main-2{
    padding-top: 4%;
    padding-left: 8%;
    padding-right: 2%; 
    display: flex;
}

.splash-main-2-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 3%;
}


.shapes-image{
    height: 400px;
}

.splash-main-2 h1{
    font-size: 35px;
    font-weight: normal;
}

.splash-main-2 h1 p {
    color: gray;
}

.splash-main-2 div{
    display: flex;
    justify-content: space-between;
}
.splash-main-2 p{
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}

.product-features h2{
    width: 25%;
    font-size: 18px;
}

.disclosure{
    color: gray;
    font-weight: bold;
    font-size: 20px;
}

.splash-footer{
    height: 300px;
    padding: 2%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
}

.splash-footer a {
    text-decoration: none;
    color: white;
}

.splash-footer div{
    padding: 5px;
}

.splash-footer-c2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}